<h1>Listing aliases</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Destination</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aliases.each do |a| %>
  <tr>
    <td><%= a.source %></td>
    <td><%= a.destination %></td>
    <td><%= link_to 'Show', a %></td>
    <td><%= link_to 'Edit', edit_alias_path(a) %></td>
    <td><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New virtual alias', new_alias_path if can? :create, :aliases %>
