<!DOCTYPE html>
<html>
<head>
  <title>MailManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <% if current_user %>
      <%= link_to 'Log out', logout_path %>
    <% else %>
      <%= link_to 'Log in', login_path unless request.fullpath == login_path %>
    <% end %>
    <%= link_to 'Users', users_path if can? :read, :users %>
    <%= link_to 'Aliases', aliases_path if can? :read, :aliases %>
    <%= link_to 'Domains', domains_path if can? :read, :domains %>
    <%= link_to 'My Profile', user_path(current_user) if current_user %>
  </nav>
<%= yield %>

</body>
</html>
